
<ion-view title="Add Photo">
    <ion-content has-bouncing="false">
        <div class="header-area padding">
            <h3 class="sub-header">Select you Photo</h3>
        </div>

<div class="row">
        <div class="col ">
            <img src="http://placehold.it/75x75">
        </div>
        <div class="col">
            <img src="http://placehold.it/75x75">
        </div>
    <div class="col">
        <img src="http://placehold.it/75x75">
    </div>
</div>
<div class="row">
    <button class="button button-full button-assertive">
       Take your photo
    </button>
</div>
<div class="row">

    <button class="button button-full button-positive">
        Add Your Photo!
    </button>

</div>
    </ion-content>
</ion-view>
