<div class="bar bar-header bar-assertive">
    <h1 class="title">Add Details</h1>
</div>
<br />
<hr/>
<div class="row padding-top ">
    <div class="col">
        <ul class="list">

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Do you Own the property?
            </li>



        </ul>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email Address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone Number">
            </label>
        </div>
    </div>

</div>
<div class="row">
    <div class="col col-offset-25">
        <button class="button button-large button-positive">
            Submit
        </button>
    </div>
</div>
