<ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Fruit for All</h1>

</ion-header-bar>
<ion-content>
    <div class="row">
        <div class="col col-offset-10">
            <img src="http://lorempixel.com/output/nature-q-c-300-180-4.jpg" height="145">
        </div>
    </div>

<div class="list card">

    <a href="#" class="item item-icon-left">
        <i class="icon ion-checkmark-circled"></i>
        Find a Tree
    </a>

    <a href="#" class="item item-icon-left">
        <i class="icon ion-checkmark-circled"></i>
        Schedule a Harvest
    </a>

    <a href="#" class="item item-icon-left">
        <i class="icon ion-checkmark-circled"></i>
        Help Your Community
    </a>



</div>
    <div class="row">

        <div class="col col-offset-25" ui-sref="location">
            <button class="button button-large button-positive">
            Get Started
        </button>
        </div>


    </div>


</ion-content>
